    <h3>
        Todo-<%=params[:id]%>
    </h3>
    <h2>
         <input type="checkbox"> <%= @todo.description %> <%=@todo.pomodoro_estimate %> pomodoros
    </h2>
        <a href="/todo/edit/<%= @todo.id %> ">Edit</a>
        <a href="/todo/delete/<%= @todo.id %> ">Delete</a>
        <button>
            <a href="/">Go Back...</a>
        </button>
